@page
@model Oryx.DataPlatform.Portal.Pages.ContentManager.Contents.AddContentModel
@{
    ViewData["Title"] = "新增漫画";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">新增漫画</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form role="form">
            <!-- text input -->
            <div class="form-group">
                <label>漫画名</label>
                <input type="text" class="form-control" placeholder="Enter ...">
            </div> 
        </form>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-default">取消</button>
        <button type="submit" class="btn btn-info pull-right">新增</button>
    </div>
    <!-- /.box-body -->
</div>