@page
@model Oryx.DataPlatform.Portal.Pages.ContentManager.Contents.ContentDetailModel
@{
    ViewData["Title"] = "ContentDetail";
}
<h3>@Model.CategoryName</h3>
<table id="contentDataTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Link</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="row">
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">新增章节</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form role="form">
                    <!-- text input -->
                    <div class="form-group">
                        <label>章节</label>
                        <input type="text" id="txtChapterName" class="form-control" placeholder="Enter ...">
                    </div>
                    <div class="form-group">
                        <label>序号</label>
                        <input type="text" id="txtChapterCount" class="form-control" placeholder="Enter ...">
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-info pull-right" onclick="addChapter()">新增</button>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">批量新增</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form role="form">
                    <!-- text input -->
                    <div class="form-group">
                        <label>章节名</label>
                        <input type="text" id="multiChapterName" class="form-control" placeholder="Enter ...">
                    </div>
                    <div class="form-group">
                        <label>数量</label>
                        <input type="number" id="multiChapterCount" class="form-control" placeholder="Enter ...">
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-info pull-right" onclick="addChapterMulti()">新增</button>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
@section scripts{
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $("#contentDataTable").DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': false,
            'info': false,
            'autoWidth': false,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/ContentEntry/ContentListTable?",
                "type": "POST",
                "data": {
                    pid:'@Request.Query["pid"]'
                }
            },
            "columns": [
                { "data": "title" },
                { "data": "content" },
                { "data": "mediaResource" },
                { "data": "link" },
                { "data": "操作" }
            ],
            "columnDefs": [
                { "visible": true, "targets": 0 },
                {
                    "visible": true, "targets": 1
                },
                { "visible": true, "targets": 2 },
                {
                    "visible": true,
                    "render": function (data, type, row) {

                        return '<a href="/ContentManager/Contents/ContentImageList?Id='+ row["id"] + '" target="_blank">查看</a>'
                    },
                    "targets": 3
                },
                {
                    "visible": true,
                    "render": function (data, type, row) {
                        return '<a href="/ContentManager/Contents/ContentImageList?Id=' + row["id"] + '" target="_blank">查看</a>'
                    },
                    "targets": 4
                }
            ]
        })
        function addChapter() {
            $.ajax({
                url: '/ContentEntry/AddContent',
                dataType: 'json',
                type: 'post',
                data: {
                    Title: $('#txtChapterName').val(),
                    Content: '',
                    Order: $('#txtChapterCount').val()
                },
                success: function (res) {
                    console.log(res)
                    window.location = window.location;
                }
            })
        }

        function addChapterMulti() {
            $.ajax({
                url: '/ContentEntry/AddMultiContents',
                dataType: 'json',
                type: 'post',
                data: {
                    pid:'@Request.Query["pid"]',
                    contentName: $('#multiChapterName').val(),
                    count: $('#multiChapterCount').val()
                },
                success: function (res) {
                    console.log(res)
                    window.location = window.location;
                }
            })
        }
    </script>
}