sandbox-list-page {
  .segment {
    border-radius: 0 !important;
    border: 0 !important;

    width: 100%;
    justify-content: space-between;
  }

  ion-segment-button {
    border: none !important;
    color: color($colors, dark-text) !important;
  }

  .segment-button.segment-activated {
    background-color: color($colors, primary) !important;
    border-radius: 0 !important;
    color: white !important;
  }

  .segment-button {
    color: color($colors, primary)
  }
}
