
@{
    ViewData["Title"] = "Index";
}

<h2>通知记录</h2>
<div>
    <a href="/TipManager/AddOrUpdate" class="btn btn-primary"> 新增</a>
</div>
<table id="contentDataTable" class="table table-hover table-bordered table-striped dataTable">
    <thead>
        <tr>
            <th width="15%" scope="col">标题</th>
            <th width="30%" scope="col">内容</th>
            <th width="15%" scope="col">发布时间</th>
            <th width="10%" scope="col">操作</th>
        </tr>
    </thead>
</table>
@section scripts{
    <script>

        function imgSrcFilter(imgSrc) {
            if (!imgSrc) {
                return '';
            }
            return imgSrc.replace(/http\:\/\/i-1\.gumua\.com\//g, 'http://cartoon.oryxl.com/imgproxy/');
        }

        $("#contentDataTable").DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': false,
            'info': false,
            'autoWidth': false,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/TipManager/Table",
                "type": "POST"
            },
            "columns": [
                { "data": "title" },
                { "data": "content" },
                { "data": "publishTime" },
                { "data": "Operation" }
            ],
            "columnDefs": [
                {
                    "visible": true,
                    "render": function (data, type, row) {
                        //var status = row['Status'] == 1 ? "[下架]" : "[上架]";

                        //return status + "<span>" + row["Name"] + "</span>"
                        return row['title']
                    },
                    "targets": 0
                },
                {
                    "visible": true, "targets": 1
                },
                {
                    "visible": true,
                    "render": function (data, type, row) {
                        ////return "<a href='/ContentManager/Contents/ContentDetail?pid=" + row["Id"] + "'>查看</a>"
                        //var imgPath = (row["MediaResource"] && row["MediaResource"].length > 0) ? row["MediaResource"][0].ActualPath : '';
                        //imgPath = imgSrcFilter(imgPath)
                        //return "<img src='" + imgPath + "' style='height:100px;'/>"
                        return row["publishTime"] ? row["publishTime"] : "<button class='btn btn-warning' onclick='sendSandMsg(\"" + row["id"] + "\")'>发布通知</button>"
                    },
                    "targets": 2
                },
                {
                    "visible": true,
                    "render": function (data, type, row) {
                        return "<a href='/TipManager/AddOrUpdate?Id=" + row["id"] + "'>查看</a>" +
                            "<button type= 'submit' class='btn btn-danger pull-right' onclick=\"delContent('" + row["id"] + "')\"> 删除</button >";
                    },
                    "targets": 3
                }
            ]
        })
        var tagify = $('#tagsInput').tagify()

        function addNew() {
            var tags = []
            tagify[0].value && tagify[0].value.split(',').forEach(function (item) {
                tags.push({
                    Name: item
                })
            })

        }

        function sendSandMsg(Id) {
            $('body').loading('start');
            $.ajax({
                url: '/TipManager/SendTip',
                dataType: 'json',
                type: 'post',
                data: {
                    Id: Id
                },
                success: function (res) {
                    if (res.success) {
                        $('.callout-success').show();
                        setTimeout(function () {
                            $('.callout-success').hide();
                            window.location.reload();
                        }, 2000)
                    } else {
                        $('.callout-danger').show();
                        setTimeout(function () {
                            $('.callout-danger').hide();
                            window.location.reload();
                        }, 2000)
                    }
                }, complete: function () {
                    $('body').loading('stop');
                }
            })
        }

        function delContent(categoryId) {
            $.ajax({
                url: '/TipManager/Delete',
                dataType: 'json',
                type: 'post',
                data: {
                    Id: categoryId
                },
                success: function (res) {
                    if (res.success) {
                        $('.callout-success').show();
                        setTimeout(function () {
                            $('.callout-success').hide();
                            window.location.reload();
                        }, 2000)
                    } else {
                        $('.callout-danger').show();
                        setTimeout(function () {
                            $('.callout-danger').hide();
                            window.location.reload();
                        }, 2000)
                    }
                }
            })
        }
    </script>
}
