@page
@model Oryx.Content.Portal.Pages.payapi.sendPayModel
@{
    ViewData["Title"] = "sendPay";
}

<h2>开通会员</h2>

<form action="/payapi/Index" method="get">
    @if (Model.IsSuperVip)
    {
        <p>
            <input type="radio" name="num" value="0.01" checked="checked">0.01元
        </p>
    }
    else
    {
        <p>
            <input type="radio" name="num" value="30" checked="checked">30 元 / 月
        </p>
        <p>
            <input type="radio" name="num" value="85">85 元 / 季度 <small> (原价90 元)</small>
        </p>
        <p>
            <input type="radio" name="num" value="100">100 元 / 半年 <span style="color:red">荐</span><small> (原价180 元)</small>
        </p>
        <p>
            <input type="radio" name="num" value="180">180 元 / 年 <small>(原价360元)</small>
        </p>
        <li>
            <p>选择支付方式</p>
        </li>
        <p>
            <input type="radio" name="pay" value="2" checked="checked">微信
        </p>
    }
    <button type="submit" class="btn btn-default">支付</button>
</form>