chat-detail-page{
    .item.item-block{
        background-color: transparent;
        border: none !important;
    }
    
    .item-inner{
        border:none !important;
    } 
    .selfInfo .txtContainer{
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        margin-right: 20px;
    }
    .selfInfo ion-label{
        display: flex;
        justify-content: flex-end;
    }
}
